* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #fafafa;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #666;
    justify-content: center;
    position: relative;
  }

.container{
  display: grid;
  grid-template-columns: 15% 25%;
  width: 100%;
  align-items: center;
  margin: 20px auto;
  margin-left: 0px;
  justify-content: center;
  border: #eee 1px solid;
}

.playlist-image {
  margin-left: 20px;
  width: 150px;
  height: 150px;
}


.playlist-action{
  padding: 5px 25px;
  border-radius: 5px; 
  border: none;
  background: #239b76; 
  font-size: 12px;
  color: #ffffff;
}

.playlist-action:hover{
  opacity: 55%;
  color: aquamarine;
}